html {
    width: 100%;
    height: 100%;
}

body {
    width: 100%;
    height: 100%;
}

.container {
    width: 100%;
    height: 93%;
}

.head {
    width: 100%;
    height: 4%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: darkgrey;
}

.btn-head {
    min-width: 36px !important;
    height: 25px;
}

.btn-head-div {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.menu {
    width: 100%;
    height: 3%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #e0e0e0;
}

.menu-btn {
    width: 25px;
    height: 100% !important;
    line-height: 25px !important;
    margin-left: 2px;
    min-width: 50px !important;
    font-size: 15px !important;
}

.stroke { text-shadow: #000 1px 0 0, #000 0 1px 0, #000 -1px 0 0, #000 0 -1px 0; }

.menu-text {
    font-size: 13px;
}


.drag {
    width: 95%;
    -webkit-app-region: drag;
}

.mdui-icon, .mdui-icon::before {
    font-size: 22px !important;
}